<div  class = " page-header " >
<h1  ng-bind-html = " vm.pageTitle " > </h1 >
</div >


<div  class = " row " >
<div  class = " col-lg-8 " > </div >
<div  class = " col-lg-4 " >
    <A  class = " btn btn-sucesso pull-direita "  ui-Sref = " main.filmes-criar " >
        <!--Crio-->
        <span  class = " glyphicon glyphicon-plus " > </span >
    </a >
</div >
</div >
<table  class = " table table-striped table-hover " >
<thead >
    <tr >
        <th > TITULO </th >
        <th > ANO </th >
        <th > PRODUTORA </th >
        <th > CARTAZ </th >
        <th > SINOPSE</th >
        <th > ACTION </th >
    </tr >
</thead >
<tbody >
    <tr  ng-repeat = " item em vm.users " >
        <td  ng-bind = " item.titulo" > </td >
        <td  ng-bind = " item.ano " > </td >
        <td  ng-bind = " item.produtora " > </td >
        <td  ng-bind = " item.cartaz" > </td >
        <td  ng-bind = " item.sinopse" > </td >
     
        <td >               
            <!--Chamando uma url com paramatro. Obs .:
                    Olhen o router eo controlador que tem o $ stateParam,
                    Pois é um jeito que passa parametros pela url.
            -->
            <A  class = " btn btn-info "  ui-Sref = " main.filmes-update ({id: item.titulo}) " >
                <!--Atualizar-->
                <span  class = " glyphicon glyphicon-pencil " > </span >
            </a >
            <!-- Chamando a funcao do ctrl -->
            <button  type = " button "  class = " btn btn-danger "  ng-click = " vm.deleteUserApi (item); " >
                <!--Excluir-->
                <span  class = " glyphicon glyphicon-trash " > </span >
            </button >
        </td >
    </tr >
</tbody >
</table >

